/.idea
/.vscode
/.fleet

/node_modules
/vendor

/.env
/.env.*
!/env.example*

/storage/*.key
/storage/app/*
!/storage/app/public
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

/bootstrap/cache/*.php
/public/storage
/public/hot
/public/build

/public/uploads/*
/public/videos/*

/ffmpeg/
ffmpeg.zip

*.log
*.cache
.DS_Store
Thumbs.db
